h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.image {
  object-fit: contain;
  position: relative !important;
  width: 100% !important;
}

video {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

section {
  padding-block: 150px;
}

header {
  background: black;
}

header>.container {
  height: 100px;
}

footer {
  background: white;
}

.site-logo img {
  display: block;
  width: 60px;
  height: auto;
  transition: all ease 0.5s;
}

.site-logo img:hover {
  transform: rotateZ(-360deg);
}

.main-visual {
  height: 600px;
  object-fit: cover;
}

.about {
  background: black;
}

.about-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.about-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px plum, 0 0 15px plum;
  padding: 50px;
}

.about-bg .subtitle {
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-text {
  line-height: 2.2;
}

.works {
  background: #181818;
}

.works-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.works-item {
  border-radius: 20px;
  box-shadow: 3px 3px 14px -1px #fcfcfc;
}

.works-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px skyblue, 0 0 15px skyblue;
}

.works-bg .subtitle {
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works-item-title {
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.access {
  background: #181818;
}

.access-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.access-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px lightgreen, 0 0 15px lightgreen;
}

footer {
  padding-block: 60px;
  background: black;
}

.copyright p{
  color: white;
}

/*作品ページ*/
.blog-page {
  background: #181818;
}

.page-base {
  border-radius: 20px;
}

.article-body p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.8;
}

.article-body h3 {
  margin-top: 39px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.article-body img {
  width: 100%;
  height: auto;
}

.work-title {
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 2px dashed lightcoral;
}

.techtag-list {
  flex-wrap: wrap;
}

.tech-icon img {
  width: 25px;
  height: 25px;
}

.writer {
  border-top: 2px dashed lightcoral;
}

.writer-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.writer-text {
  margin-bottom: 15px;
  font-size: 12px;
}

.writer-icon img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.writer-sns li {
  width: 26px;
  height: 26px;
}

.writer-sns .sns-tw-bg {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.writer-sns .sns-gh-bg {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sns-tw-icon,
.sns-gh-icon {
  color: white
}

@media (max-width: 576px) {
  section {
    padding-block: 90px;
  }

  .about-bg {
    padding-block: 50px;
    padding-bottom: 0;
  }

  .about h2 {
    font-size: 45px;
    top: 0px;
  }

  .about-bg .subtitle {
    top: 35px;
    font-size: 10px;
  }

  .about-text {
    font-size: 13px;
  }

  .works-bg {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .works-bg .subtitle {
    top: 35px;
    font-size: 10px;
  }

  .works h2 {
    font-size: 45px;
    top: 0px;
  }

  /*blogページ*/
  .tech-icon img {
    width: 20px;
    height: 20px;
  }

  .tech-text {
    font-size: 12px;
  }

  .writer-icon img {
    width: 95px;
    height: 95px;
    margin-bottom: 10px;
  }
}