* {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.image {
  object-fit: contain;
  position: relative !important;
  width: 100% !important;
}

video {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

section {
  padding-block: 150px;
}

header {
  background: black;
}

header>.container {
  height: 100px;
}

footer {
  background: white;
}

.site-logo img {
  display: block;
  width: 60px;
  height: auto;
  transition: all ease 0.5s;
}

.site-logo img:hover {
  transform: rotateZ(-360deg);
}

.main-visual {
  height: 600px;
  object-fit: cover;
}

.about {
  background: black;
}

.about-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.about-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px plum, 0 0 15px plum;
  padding: 50px;
}

.about-bg .subtitle {
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-text {
  line-height: 2.2;
}

.works {
  background: #181818;
}

.works-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.works-item {
  border-radius: 20px;
  box-shadow: 3px 3px 14px -1px #fcfcfc;
}

.works-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px skyblue, 0 0 15px skyblue;
}

.works-bg .subtitle {
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works-item-title {
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.access {
  background: #181818;
}

.access-bg {
  border-radius: 20px;
  padding-block: 100px;
}

.access-bg h2 {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  /* text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF; */
  color: white;
  text-shadow: 0 0 10px lightgreen, 0 0 15px lightgreen;
}

.google-map {
  position: relative;
  /* 子要素の基準とする */
  padding-bottom: 75%;
  /* 表示するパディング領域の縦横比（4：3） */
  height: 0;
  overflow: hidden;
}

.google-map iframe {
  position: absolute;
  /* 親要素のパディング領域に配置するために絶対配置を指定 */
  top: 0;
  /* 垂直方向トップに配置 */
  left: 0;
  /*  水平方向左に配置 */
  width: 100%;
  /* 親コンテナの幅いっぱいに表示 */
  height: 100%;
  /* 親コンテナの高さいっぱいに表示 */
}

footer {
  padding-block: 60px;
  background: black;
}

.copyright p {
  color: white;
}

/*作品ページ*/
.blog-page {
  background: #181818;
}

.page-base {
  border-radius: 20px;
}

.article-body p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.8;
}

.article-body h3 {
  margin-top: 39px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.article-body img {
  width: 100%;
  height: auto;
}

.work-title {
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 2px dashed lightcoral;
}

.more-btn {
  color: white;
  background: black;
  width: 200px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
}

.more-btn a {
  text-align: center;
  display: block;
  width: 200px;
  color: white;
}

/* .btn,
a.btn,
button.btn {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 20px 100px;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
} */


.techtag-list {
  flex-wrap: wrap;
}

.tech-icon img {
  width: 25px;
  height: 25px;
}

.writer {
  border-top: 2px dashed lightcoral;
}

.writer-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.writer-text {
  margin-bottom: 15px;
  font-size: 12px;
}

.writer-icon img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.writer-sns li {
  width: 26px;
  height: 26px;
}

.writer-sns .sns-tw-bg {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.writer-sns .sns-gh-bg {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sns-tw-icon,
.sns-gh-icon {
  color: white
}

/*blog記事一覧ページ*/
.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: black;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
}

/*quiz*/
.quiz {
  background: #181818;
}

.quiz-bg {
  border-radius: 20px;
}

.quiz-bg h2 {
  font-size: 55px;
  font-weight: 700;
}

.quiz-item {
  border-radius: 20px;
  box-shadow: 3px 3px 14px -1px #fcfcfc;
}

.answer-item {
  padding-block: 10px;
  background: lightgoldenrodyellow;
  text-align: center;
}

/*謎解き*/
.mystery-page {
  background: #181818;
}

.clear-icon{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-20deg);
  z-index: 100;
}

@media (max-width: 576px) {
  section {
    padding-block: 90px;
  }

  .about-bg {
    padding-block: 50px;
    padding-bottom: 0;
  }

  .about h2 {
    font-size: 45px;
    top: 0px;
  }

  .about-bg .subtitle {
    top: 35px;
    font-size: 10px;
  }

  .about-text {
    font-size: 13px;
  }

  .works-bg {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .works-bg .subtitle {
    top: 35px;
    font-size: 10px;
  }

  .works h2 {
    font-size: 45px;
    top: 0px;
  }

  .more-btn {
    color: white;
    background: black;
    width: 150px;
    padding: 5px;
    margin-block: 30px;
  }


  .access h2 {
    font-size: 45px;
    top: 0px;
  }

  .access-bg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /*blogの一覧ページ*/
  .pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    margin-block: 30px;
  }

  /*blogページ*/
  .tech-icon img {
    width: 20px;
    height: 20px;
  }

  .tech-text {
    font-size: 12px;
  }

  .writer-icon img {
    width: 95px;
    height: 95px;
    margin-bottom: 10px;
  }

  /*クイズ*/
  .quiz-text {
    font-size: 18px;
    text-align: justify;
  }
}